<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route
        method="GET"
        path="/"
        controller="DataBuilder\Controller\HomeController"
        action="index"
        handle="homepage"
    />
    <route
        method="GET"
        path="/user/{id}"
        controller="DataBuilder\Controller\UserController"
        action="show"
        handle="user_show"
    />
</routes>